@import url('https://fonts.cdnfonts.com/css/verdana');


@media (max-width: 768px) {


    * {
        font-family: 'Verdana', sans-serif;
        user-select: none;
    }

    a {
        text-decoration: none;
        color: black;
    }


    /*Burger-Menu*/

    .menu {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 25px;
    }

    .menu span {
        margin: 0 auto;
        position: relative;
        top: 12px;
    }

    .menu span:before,
    .menu span:after {
        position: absolute;
        content: '';
    }

    .menu span,
    .menu span:before,
    .menu span:after {
        width: 30px;
        height: 3px;
        background-color: #000000;
        display: block;
    }

    .menu span:before {
        margin-top: -12px;
    }

    .menu span:after {
        margin-top: 12px;
    }

    /*Fake-Trigger*/
    #sized {
        width: 60px;
        height: 50px;
        color: transparent;
        background-color: transparent;
        border: transparent;
    }

    /*Modal-Box*/
    .modalx {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 0.5%;
        margin: 0;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: none;
    }

    .modal-content {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        background-color: #ffffff;
        font-family: 'Verdana', sans-serif;

    }

    .modal-header {
        padding: 2px 16px;
        background-color: #ffffff;
        border-bottom: none;
        height: 20vh;
    }

    .modal-body {
        padding: 2px 16px;
        background-color: #ffffff;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: #ffffff;
        color: black;
        border-top: none;
        text-align: center;
    }

    .modal-footer hr {
        margin-top: 20vh;
    }

    .modal-footer>p {
        color: #000000
    }

    .modal-footer h3 {
        text-transform: none;
        font-size: 4vh;

    }

    .close {
        color: #000000;
        float: right;
        font-size: 5em;
        opacity: 1;
    }

    .close:hover,
    .close:focus {
        color: #008abf;
        text-decoration: none;
        cursor: pointer;
    }

    @-webkit-keyframes zoomIn {
        from {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }

        50% {
            opacity: 1;
        }
    }

    .zoomIn {
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
    }

    .animated {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }


    /*Navigation Inner Styling*/

    .nav ul li a {
        text-decoration: none;
    }

    .nav ul li a.four {
        color: #4e8164;
    }

    .nav ul li a.three {
        color: #338383;
    }

    .nav ul li a.two {
        color: #2788a4;
    }

    .nav ul li a.one {
        color: #008abf;
    }


    /*Mobile Optimization*/
    /* Portrait Tablet to Landscape and Desktop */
    @media (min-width:768px) and (max-width:979px) {

        .nav ul li {
            display: block;
            height: 45px;
            padding: 5vh;

        }

        .nav ul {
            clear: both;
            width: 100%;
            text-align: center;
            padding: 0;
        }

        .nav ul li a {
            padding: 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 6vw;
            letter-spacing: -0.05em;
        }
    }

    /* Landscape-Phone to Portrait Tablet*/
    @media (max-width:767px) {

        .nav ul li {
            display: block;
            height: 38px;
            padding: 5vh;

        }

        .nav ul {
            clear: both;
            width: 100%;
            text-align: center;
            padding: 0;
        }

        .nav ul li a {
            padding: 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 6vw;
            letter-spacing: -0.05em;
        }
    }

    /*Landscape-Phone Downwards*/
    @media (max-width: 480px) {

        .nav ul li {
            display: block;
            height: 38px;
            padding: 5vh;
        }

        .nav ul {
            clear: both;
            width: 100%;
            text-align: center;
            padding: 0;
        }

        .nav ul li a {
            padding: 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 10vw;
            letter-spacing: -0.05em;
        }
    }


    .navigation {
        display: block;
        position: absolute;
        top: 0vw;
        right: 0vw;
        z-index: 10;
        margin: 0;
        padding: 0;
    }

    .title {
        position: relative;
        top: 2.5vh;
        left: 2.5vh;
        text-align: left;
    }

}